[Unit]
Description=Validador de Transacciones - Réplica %i
After=network.target
Wants=network.target

[Service]
Type=simple
User=www-data
WorkingDirectory=/opt/validador-tx
ExecStart=/opt/validador-tx/validador-tx
Environment="PORT=%i"
Environment="GIN_MODE=release"
Restart=always
RestartSec=3
StandardOutput=journal
StandardError=journal
SyslogIdentifier=validador-tx-%i

[Install]
WantedBy=multi-user.target
